@import "~bulma/bulma.sass";


element.style {
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

#tsparticles {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
