@import "~bulma/bulma.sass";


$main-cold-color: #222831;
$secn-cold-color: #393E46;
$tert-cold-color: #00ADB5;
$minr-cold-color: #EEEEEE;

$main-warm-color: #311D3F;
$secn-warm-color: #88304E;
$tert-warm-color: #E23E57;
$minr-warm-color: #522546;

element.style {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none;
}

// .nav-bg {
//     background-color: $secn-warm-color;
// }

// .nav-links {
//     border-top: 2px solid $minr-warm-color;
// }

.cold-bg-col {
    background-color: $main-cold-color;
}

.warm-bg-col {
    background-color: $main-warm-color;
}

//https://coolors.co/d33f49-d7c0d0-eff0d1-77ba99-262730
$rand-1: #D33F49;
$rand-2: #D7C0D0;
$rand-3: #EFF0D1;
$rand-4: #77BA99;
$rand-5: #262730;

//https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
$juicy-1: #264653;
$juicy-2: #2A9D8F;
$juicy-3: #E9C46A;
$juicy-4: #F4A261;
$juicy-5: #E76F51;

//https://coolors.co/94e8b4-72bda3-5e8c61-4e6151-3b322c
$forest-1: #94E8B4;
$forest-2: #72BDA3;
$forest-3: #5E8C61;
$forest-4: #4E6151;
$forest-5: #3B322C;

//https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
$french-1: #e63946;
$french-2: #f1faee;
$french-3: #a8dadc;
$french-4: #457b9d;
$french-5: #1d3557;